h1 {
    color:#E8392C;
    font-family: cinzel;
}
li {
    list-style-type: none;
}
p {
    margin:0;
    white-space: pre-line;
}

a {
    text-decoration:none;
    color:unset;
}

#content {
    border:1px solid black;
}

body {
    background-color:#E7EAED;
    margin-top:40px;
}
.title {
    color:#0f0c5d;
}
textarea {
    width:300px;
    max-height:220px;
    max-width:300px;
    min-width:338.5px;
}
.postButton {
    font-size: 12px;
    margin: 7px;
    color: white;
    background-color: #E8392C;
    border: 1px solid #E8392C;
}
.indiv {
    font-family: arial;
    font-size: smaller;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    overflow:hidden;
}

#top {
    border-bottom: 1px solid #D2D8DD;
    font-size:12px;
}

#top a {
   float:right;
}

.replies {
    color:rgb(83, 109, 254);
    text-decoration: none;
}

.replies:hover {
    cursor:pointer;
    text-decoration:underline;
}

.date {
    color:grey;
}

.name {
    color: #E8392C;
}

#header {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    justify-content: space-between;
    display:flex;
    position:fixed;
    left:0;
    width:100%;
    top:0;
    background-color:#E7EAED;
}

#header p {
    padding: 10px;
    font-family: arial;
    color: #E8392C;
    font-weight: bold;
}

.homeimg {
    border-radius:4px;
    width: 100%;
    margin-bottom:10px;
}

.replyimg {
    max-height: 300px;
    margin-right: 10px;
    border-radius:4px;
    max-width: 400px;
}

.replyimg2 {
    max-height:200px;
    max-width:200px;
    margin-right: 10px;
    border-radius:4px;
}

.form {
    top:50px;
    right: 10px;
    position:fixed;
    padding: 10px;
    background-color: #D2D8DD;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.stats {
    font-family: arial;
    font-size: 13px;
    margin: 0;
    margin-top: 10px;
}

#msgs {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#msg {
    display:flex;
}

.prevmsg {
    margin: 0;
    margin-top: 5px;
}

#mainarea2 {
    width: 80%;
}

#mainarea {
    display:flex;
    justify-content: center;
}